---
---

/* 
Overrides of WashU style for FAQ needs / order / elements
*/

.wysiwyg {
   ul {
      margin-left: 1.5rem;
    }
    li {
        margin-left: 1.5rem;
    }
}  

.discussion-link {
    font-size: small;
}

.index {
    p {
        margin-bottom: 5px; /* between paragraphs */
    }

}

.toc-divider {
    // Nothing special
    // border: none;
    // height: 1px;
    // /* Set the hr color */
    // color: #333; /* old IE */
    // background-color: #333; /* Modern Browsers */
}

.toc {
    p {
        margin-bottom: 5px; /* between paragraphs */
    }

}


.questions-by-label {
    dd  {
        margin-bottom: 5px; /* between paragraphs */
    }
    p {
        margin-bottom: 5px; /* between paragraphs */
    }
}



// Via https://markus.oberlehner.net/blog/simple-solution-for-anchor-links-behind-sticky-headers/
$sticky-breakpoint: 32em;

// 1. Approximate height of sticky navigation.
html {
  @media (min-height: $sticky-breakpoint) {
    scroll-padding-top: 100px; // 1
  }
}


.navigation {
  // ...
}